.intro-box {
    display: flex;
    justify-content: space-around;
}

.image-link {
    border-bottom: none;
}

.features section span.icon > img {
    width: 50px;
    height: 50px;
    /*border-radius: 20%;*/
}

.fa, .fab, .far, .fas {
    color: #ffffff;
}
a > .fa, a > .fab, a > .far, a > .fas {
    color: #cecece;
}
a > .fa:hover, a > .fab:hover, a > .far:hover, a > .fas:hover {
    color: #ffffff;
}

@media screen and (min-width: 2050px) {
    .its-me {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1680px) { }

@media screen and (max-width: 1280px) { }

@media screen and (max-width:  980px) { }

@media screen and (max-width:  736px) {
    .its-me {
        width: 200px;
        height: 200px;
    }
    .welcome-left {
        width: 60%;
    }
    .welcome-right {
        width: 40%;
    }
}

@media screen and (max-width:  530px) {
    .its-me {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:  360px) {
    .intro-box {
        flex-direction: column-reverse;
    }
    .welcome-left, .welcome-right {
        width: 100%;
    }
    .its-me {
        width: 250px;
        height: 250px;
    }
}
